.cart-dropdown {
  height: 70vh;
  width: 26vw;
  position: absolute;
  right: 9vw;
  top: 10vh;
  background-color: rgba(65, 65, 65, 0.486);
  border-radius: 20px;
  backdrop-filter: blur(30px);
  padding: 20px;
}
.cart-dropdown #cart-header {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
}
.cart-dropdown #cart-header #close-cart {
  background-image: url("../../assets/cart-close.svg");
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
}
.cart-dropdown #cart-header #close-cart:hover {
  cursor: pointer;
}
#cart-body {
  width: 100%;
  height: 80%;
  margin-top: 10px;
}
.cart-item {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.766);
  backdrop-filter: blur(3px);
  padding: 20px;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
input {
  max-width: 30px;
  background-color: transparent;
  text-align: center;
  border: none;
  font-weight: 500;
}
button {
  background-color: transparent;
  border: none;
}
#cart-item-left div {
  display: flex;
}
#cart-item-left div div {
  position: absolute;
  right: 10px;
}
