#carousel{
    width: 90vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 50%;
    transform:translateX(-50%) ;
    align-items: center;
    justify-content: space-around;
}
.deals{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fe9900;
    font-size: 50px;
    color: white;
    height: 85%;
    width: 50%;
}
.carousel-item{
    border-radius: 10px;
    margin-left: 100px;
}
.bottom{
    display: flex;
    flex-direction: row;
    outline: yellow solid;
}
.filters-side{
    width: 30%;
    padding: 20px;
    padding-left: 50px;
    outline: red dotted;
}
.filters-side h1{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
}
#slider{
    -webkit-appearance: none;
    width: 60%;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    background:rgba(181, 181, 181, 0.309);
}
#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fe9900;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
#slider::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background:transparent ;
}
input{
    margin-right: 10px;
    margin-bottom:11px ;
}
.options{
    display: flex;
    flex-direction: column;
}
.choices-side{
    
}